:root {
  --main-gray-color: #d9d9d9;
  --font-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input--container {
  display: flex;
  flex-direction: column;
}

.button--container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  width: 100%;
  max-width: 510px;
}

button {
  width: 78px;
  height: 18px;
  border: none;
  background-color: var(--main-gray-color);
  color: var(--font-color);
  border-radius: 5px;
  font-size: 8px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.button--filters {
  margin-right: 14px;
}

input {
  background-color: var(--main-gray-color);
  border: none;
  padding: 10px;
  width: 489px;
  border-radius: 5px;
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
}

.task--input {
  margin-top: 3rem;
}

.date--input {
  margin-top: 0.3rem;
}

input:focus {
  outline: none;
}

.taskItem {
  background-color: var(--main-gray-color);
  padding: 8px;
  margin-bottom: 2px;
  color: var(--font-color);
  list-style: none;
}
